html,
body {
    height: 100%;
}

* {
    box-sizing: border-box;
}

.bg-img {
    height: 100%;

    background-image: url('../img/bg.jpg');
    background-size: cover;
    background-repeat: no-repeat;

    filter: blur(8px);
    -webkit-filter: blur(8px);
}

.content-area {
    width: 90%;
    position: absolute;
    z-index: 2;
    top: 50%;
    left: 50%;
    padding: 20px;

    background-color: rgb(0, 0, 0);
    /* Fallback color */
    background-color: rgba(0, 0, 0, 0.9);
    /* Black w/opacity/see-through */
    border: 3px solid #f1f1f1;

    color: white;
    font-weight: bold;
    text-align: center;

    transform: translate(-50%, -50%);
}

/*
    Title, msg & img
*/
.title__box {
    position: relative;
    margin: 0 0 5% 0;
}

.friendly-msg__box {
    position: absolute;
    top: 0;
    right: 0;
}

.friendly-msg__text {
    position: absolute;
    top: 80%
}

.friendly-msg__img {
    width: 150px;
    border-radius: 50%;
}

/*
    Box & Copyboard
*/
.box {
    height: 20rem;
    width: 30rem;
    display: flex;
    margin: auto;

    border: 5px solid white;
}

.box__content {
    width: 90%;
    margin: auto;
}

.box__content > input {
    border-bottom-left-radius: 0 !important;
    border-bottom-right-radius: 0 !important;
}

.box__content > button {
    border-top-left-radius: 0 !important;
    border-top-right-radius: 0 !important;
}

@media only screen and (max-width: 1000px) {
    .box {
        width: 20rem;
    }
}